<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="dev.fest.patephone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_patephone"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_patephone_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tool:replace="android:theme">
        <activity
            android:name=".TabActivity"
            android:exported="true" />
        <activity
            android:name=".act.FilterActivity"
            android:exported="true" />
        <activity
            android:name=".act.RegisterFromPhoneActivity"
            android:exported="true" />
        <activity
            android:name=".act.DescriptionAdActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.EditAdsAct"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>